body {
    margin: 0;
}

h1 {
    margin-bottom: 0;
}

ul {
    list-style-position: inside;
    padding-left: 0;
  }

/* --------------------HEADER-------------------- */
header {
    height: 110px;
    background-color: #4EA0FF;
    background-image: url(img/pattern.png);
    background-size: 450px 210px;
    background-position: top;
}

header > img {
    height: 55px;
    margin: 45px 100px;
}


/* --------------------MAIN-------------------- */
main {
    margin: 0 100px;
}
/* TITOLO, AUTORE E DATA */
#author {
    color: #20A9E5;
}

#description {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

#date {
    font-size: x-small;
}

/* TABELLA */
thead {
    background-color: #20a9e5;
    margin: 0;
}

thead > tr > td {
    font-weight: bold;
}

td {
    width: 30vw;
}

.colored {
    background-color: #B1E5F2;
}